<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body>


    <div class="alert alert-secondary text-center" role="alert">
        <h1>{{mensaje}}</h1>
    </div>

    <div class="container">
        <main>
            <div class="row">
                <div class="col-6 text-start"><button onClick="regresar()" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" class="btn btn-light">Regresar</button></div>
                <div class="col-6 text-end"><button data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-light">Ingresar</button></div>
                <div class="col-12 mt-2">
                    {{#if empresas.length}}
                    <table class="table table-striped  table-hover">
                        <thead>
                            <tr>
                                <td>
                                    #
                                </td>
                                <td>
                                    Nombre
                                </td>
                                <td>
                                    Razón social
                                </td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each empresas as |empre|}}
                            <tr>
                                <td>{{empre.empresa.idEmpresa}}</td>
                                <td>{{empre.empresa.nombre}}</td>
                                <td>{{empre.empresa.razonSocial}}</td>
                                <td>{{empre.empresa.version.nombre}}</td>
                                <td>
                                    <button onClick="visualizar({{empre.empresa.idEmpresa}})"
                                        class="btn btn-light">Visualizar</button>

                                    <a href="/vistainicial/clientes/administrar?idempresa={{empre.empresa.idEmpresa}}"
                                        class="btn btn-light">Administrar</a>
                                    <button onClick="eliminando({{empre.empresa.idEmpresa}})"
                                        class="btn btn-danger">Eliminar</button>

                                </td>
                            </tr>
                            <tr style="display: none;" id="tab{{empre.empresa.idEmpresa}}">
                                <td colspan="5">
                                    <div class="row">
                                        <div class="col-3">
                                            <h5>Nombre:</h5>
                                            <span>{{empre.empresa.nombre}}</span>
                                        </div>
                                        <div class="col-3">
                                            <h5>Razón social:</h5>
                                            <span>{{empre.empresa.razonSocial}}</span>
                                        </div>
                                        <div class="col-3">
                                            <h5>Versiones disponibles:</h5>
                                            <ul>
                                                {{#each empre.empresa.versiones as |verdd|}}
                                                <li>{{verdd.nombre}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                          <div class="col-3">
                                            <h5>Usuarios asignados:</h5>
                                            <ul>
                                              {{#if empre.usuarios.length}}
                                                {{#each empre.usuarios as |usuario|}}
                                                <li>{{usuario.correo}}</li>
                                                {{/each}}
                                                {{else}}
                                                  <strong>Sin usuarios asignados</strong>
                                              {{/if}}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-start">
                                            <button onClick="cerrar({{empre.empresa.idEmpresa}})"
                                                class="btn btn-secondary">cerrar</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    {{else}}
                    <div class="alert alert-warning" role="alert">
                        No hay datos de empresas
                    </div>
                    {{/if}}
                </div>
            </div>
        </main>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>

</html>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="/vistainicial/guardarEmpresa" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresar empresa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="esCliente" value="true">
                    <div class="row">
                        <div class="col-12">
                            <label for="inputPassword5" class="form-label">Ingresar nombre</label>
                            <input type="text" id="inputPassword5" class="form-control"
                                aria-labelledby="passwordHelpBlock" name="nombre" required>
                        </div>
                        <div class="col-12">
                            <label for="inputPassword5" class="form-label">Ingresar razon social</label>
                            <input type="text" id="inputPassword5" class="form-control"
                                aria-labelledby="passwordHelpBlock" name="razonsocial" required>
                        </div>
                        <div id="referencia" class="col-12">
                            <label for="inputPassword5" class="form-label">Ingresar versión para empresa</label>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" required
                                name="version">
                                <option selected value="">Seleccionar</option>
                                {{#each listaVersiones as | vers |}}
                                <option value="{{vers.idVersion}}">{{vers.nombre}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div id="appendhere"></div>
                        <div class="col-12 text-end">
                            <button onClick="anexar()" class="btn btn-light"><i
                                    class="bi bi-plus-circle"></i>Anexar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    var eliminando = (valor) => {
        document.location.href = "/vistainicial/eliminarEmpresa?idempresa=" + valor;
    }


    var ingresandoModulos = (valor) => {
        console.log(valor);
    }

    var regresar = () => {
        document.location.href = "/vistainicial";
    }


    var visualizar = (idempresa) => {
        const visualizador = "tab" + idempresa;
        let elemento = document.getElementById(visualizador);
        elemento.style.display = "table-row"
    }

    var cerrar = (idempresa) => {
        const visualizador = "tab" + idempresa;
        let elemento = document.getElementById(visualizador);
        elemento.style.display = "none"
    }

    var anexar = () => {
        let copia = document.getElementById("referencia");
        let appned = document.getElementById("appendhere");
        appned.innerHTML += copia.innerHTML;
    }
</script>